---
import Layout from '@/layouts/Layout.astro';
import Banner from '@/components/Banner.astro';
import ContactFooter from '@/components/ContactFooter.astro';
import clsx from 'clsx';

// 理由
const reasonList = [
  {
    title: '创造经济收益',
    desc: ['降低能源成本', '固定资产价值', '提升边际收益'],
  },
  {
    title: '提升企业形象',
    desc: [
      '减少企业碳排放',
      '增强企业声誉',
      '展现环境保护/可持续发展的积极态度',
    ],
  },
  {
    title: '助力节能减排',
    desc: ['解决企业限电问题', '降低环境监管风险', '满足环保法规要求'],
  },
];

// 案例图片 后续可能改为后台获取
const caseList = [
  {
    imgUrl: 'https://images.voltjia.com/assets/solutions/01.jpg',
    title: '上海奉贤',
    desc: '459.96KWp',
  },
  {
    imgUrl: 'https://images.voltjia.com/assets/solutions/02.jpg',
    title: '上海奉贤',
    desc: '225.75KWp',
  },
  {
    imgUrl: 'https://images.voltjia.com/assets/solutions/03.jpg',
    title: '上海宝山',
    desc: '1198.665KWp',
  },
  {
    imgUrl: 'https://images.voltjia.com/assets/solutions/04.jpg',
    title: '浙江嘉兴',
    desc: '688.545KWp',
  },
];
---

<Layout title="辐特佳新能源">
  <Banner
    title="工商业解决方案"
    imgSrc="https://images.voltjia.com/public/img_6.jpg"
  />
  <section
    class="bg-[url(https://images.voltjia.com/assets/02.jpg)] bg-no-repeat bg-center bg-cover w-full h-screen <md:(h-auto aspect-ratio-[9/12]) pb-[35px] relative overflow-hidden text-white"
    id="reason-poke"
  >
    <h1
      class="h-130px text-center text-size-2xl absolute-center m-auto translate-y--100%"
    >
      为什么要安装光伏？
    </h1>
    <div class="h-250px absolute-center m-auto">
      {
        reasonList.map((item, index) => (
          <div class="h-full box-border px-5 rounded-lg w-80% <md:w-95% bg-[rgba(255,255,255,0.2)] backdrop-blur-lg absolute-center flex flex-col  m-[0_auto]  z-auto overflow-hidden reason-panel">
            <div class="text-theme text-center border-b border-b-black">
              <h3 class="text-size-4xl font-num line-height-none mt-5">
                0{index + 1}
              </h3>
              <h4 class="text-size-3xl tracking-widest mb-2">{item.title}</h4>
            </div>

            <ul class="flex justify-center items-center h-full">
              {item.desc.map((dec, i) => (
                <li class="flex items-center flex-1 justify-center text-black">
                  {dec}
                  {i !== item.desc.length - 1 && (
                    <div class="w-4px h-4px bg-black rounded mx-4" />
                  )}
                </li>
              ))}
            </ul>
          </div>
        ))
      }
    </div>
  </section>
  <section class="w-full h-screen relative" id="poker-wrap">
    <div
      class="bg-white w-full h-full absolute-center z-auto panel overflow-hidden"
      id="poker_1"
    >
      <h1
        class="text-center text-size-4xl text-center mt-100px mb-20 text-theme <md:mb-0"
      >
        商业模式
      </h1>
      <div
        class="w-100% flex justify-center items-center gap-24 <md:(flex-col gap-10)"
      >
        <div
          class="w-30% h-340px shadow-2xl p-5 rounded-lg bg-[var(--main-color)] flex flex-col items-center justify-center text-white <md:w-80%"
        >
          <strong class="text-center text-size-6xl flex items-center">
            <i class="i-carbon:ibm-cloud-direct-link-2-dedicated"></i>
          </strong>
          <h1 class="text-size-4xl">EPC模式</h1>
        </div>
        <div
          class="w-30% h-340px shadow-2xl p-5 rounded-lg bg-[var(--main-color)] flex flex-col items-center justify-center text-white <md:w-80%"
        >
          <strong class="text-center text-size-6xl flex items-center">
            <i class="i-carbon:ibm-cloud-direct-link-2-dedicated"></i>
          </strong>
          <h1 class="text-size-4xl">EMC模式</h1>
        </div>
      </div>
    </div>
    <div
      class="bg-[var(--main-color)] w-full h-full absolute-center z-auto panel overflow-hidden"
    >
      <h1
        class="text-center text-size-4xl text-center mt-100px mb-20 text-white <md:mb-0"
      >
        商业模式
      </h1>
      <div
        class="w-100% flex justify-center items-center gap-24 <md:(flex-col gap-10)"
      >
        <div
          class="w-30% h-340px shadow-2xl p-5 rounded-lg bg-white flex flex-col justify-between <md:w-80%"
        >
          <h1 class="text-theme text-size-xl pb-2">EPC模式</h1>
          <p class="py-8 border-y border-[var(--main-color)]">
            辐特佳受业主委托，对光伏项目的前期可行性研究、设计、采购、施工、验收等实行全过程的总承包。
          </p>
          <div class="py-4 flex items-center justify-between">
            <p class="text-theme w-70% line-height-loose">
              业主自投 &nbsp;&nbsp; 投资回报率高 &nbsp;&nbsp; 降低企业能耗<br />
              25年以上长期收益
            </p>
            <i
              class="i-carbon:ibm-cloud-direct-link-2-dedicated text-theme text-size-4xl self-end"
            ></i>
          </div>
        </div>
        <div
          class="w-30% h-340px shadow-2xl p-5 rounded-lg bg-white flex flex-col justify-between <md:w-80%"
        >
          <h1 class="text-theme text-size-xl pb-2">EMC模式（合同能源管理）</h1>
          <p class="py-8 border-y border-[var(--main-color)]">
            由辐特佳进行电站投资，负责光伏电站的建设及运维，以优惠电价的方式分享收益给业主。
          </p>
          <div class="py-4 flex items-center justify-between">
            <p class="text-theme w-70% line-height-loose">
              无需出资，由持有方投资 &nbsp;&nbsp; 享受电价折扣 <br />
              由持有方进行电站运维 &nbsp;&nbsp; 可享长期收益
            </p>
            <i
              class="i-carbon:ibm-cloud-direct-link-2-dedicated text-theme text-size-4xl self-end"
            ></i>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- 案例图片 -->
  <section class="w-full pb-150px section-card-view bg-black text-white">
    <div class="h-[280vw] sticky-wrapper <md:h-[520vw]">
      <div
        class="sticky w-full h-auto top-150px overflow-hidden pt-60px box-border"
      >
        <div class="relative flex w-40vw gap-12 section-wrapper <md:w-80vw">
          <div
            class="flex justify-center flex-shrink-0 w-100% aspect-ratio-[4/3] section-card"
          >
            <h1
              class="text-size-6xl text-nowrap line-height-none mr-5 <md:text-size-4xl"
            >
              相关<br />案例
            </h1>
            <h1
              class="font-en text-center text-size-6xl text-theme mx-2 line-height-none <md:text-size-4xl"
            >
              CASE
            </h1>
          </div>
          {
            caseList.map((item, i) => (
              <div
                class={clsx(
                  'relative flex-shrink-0 w-100% aspect-ratio-[4/3] section-card flex flex-col justify-between item',
                  i % 2 === 0 ? 'flex-col-reverse' : ''
                )}
              >
                <div
                  class="bg-no-repeat bg-cover w-100% h-85%"
                  style={{ backgroundImage: `url(${item.imgUrl})` }}
                />
                <div class="w-100% flex justify-between text-white">
                  <div>
                    <h3 class="text-size-xl">{item.title}</h3>
                    <p class="text-theme">CASE 0{i + 1}</p>
                  </div>
                  <h1 class="text-size-2xl p-2 text-theme line-height-none">
                    {item.desc}
                  </h1>
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </section>
  <ContactFooter />
</Layout>

<script>
  import gsap from 'gsap';
  import { ScrollTrigger } from 'gsap/ScrollTrigger';
  import createLenis from '@/hooks/createLenis';
  createLenis();
  gsap.registerPlugin(ScrollTrigger);

  /* -------------------------------- 原因卡片 ------------------------------- */
  gsap.set('.panel', { zIndex: (i, _, targets) => targets.length - i });
  gsap.set('.reason-panel', { zIndex: (i, _, targets) => targets.length - i });

  const reasonPanels = gsap.utils.toArray('.reason-panel:not(:last-child)');
  reasonPanels.forEach((reasonPanel: Element, i) => {
    const tl1 = gsap.timeline({
      scrollTrigger: {
        trigger: '#reason-poke',
        start: () => 'top -' + window.innerHeight * (i + 0.5),
        end: () => '+=' + window.innerHeight,
        scrub: true,
        invalidateOnRefresh: false,
        // markers: true,
      },
    });

    tl1.to(reasonPanel, {
      height: 0,
    });
  });

  ScrollTrigger.create({
    trigger: '#reason-poke',
    scrub: true,
    pin: true,
    start: () => 'top top',
    end: () => '+=' + (reasonPanels.length + 1) * window.innerHeight,
    invalidateOnRefresh: true,
  });
  /* --------------------------------- 原因卡片 -------------------------------- */

  /* ---------------------------------- 商业模式 ---------------------------------- */
  const tl = gsap.timeline({
    scrollTrigger: {
      trigger: '#poker-wrap',
      start: 'top top',
      end: 'bottom 30%',
      pin: true,
      scrub: true,
      invalidateOnRefresh: true,
      // markers: true,
    },
  });

  tl.to('#poker_1', {
    height: 0,
  });
  /* ---------------------------------- 商业模式 ---------------------------------- */

  /* ---------------------------------- 案例卡片 ---------------------------------- */
  const section = document.querySelector('.section-card-view');

  const wrapper = section.querySelector('.section-wrapper');
  const stickyWrapper = section.querySelector('.sticky-wrapper');
  const cards = section.querySelectorAll('.section-card');

  const screenWidth = document.documentElement.clientWidth;
  const cardWidth = cards[0].clientWidth;
  const cardMargin = Number(
    window.getComputedStyle(wrapper).getPropertyValue('gap').slice(0, -2)
  );
  const cardsNumber = cards.length;
  const swiperOffset =
    // 距离页面左侧的宽度 * 2
    wrapper.getBoundingClientRect().left * 2 +
    // 每个卡片宽度 * 卡片数量
    cardWidth * cardsNumber +
    // 卡片的左侧距离 * (卡片数量 - 1)
    cardMargin * (cardsNumber - 1) -
    // 屏幕的宽度
    screenWidth;
  const stickyTop = 150;
  gsap.to(wrapper, {
    scrollTrigger: {
      trigger: stickyWrapper,
      start: stickyTop + ' ' + stickyTop,
      end: 'bottom 100%',
      scrub: 0,
      // markers: true,
    },
    ease: 'none',
    x: -swiperOffset,
  });

  const cardScroll = cardWidth + cardMargin;

  cards.forEach((card, index) => {
    const startTrigger = stickyTop - cardScroll * (index - 1);
    if (index > 0) {
      gsap.to(card, {
        scrollTrigger: {
          trigger: card,
          start: 'top ' + startTrigger,
          end: 'bottom ' + cardScroll / cardsNumber,
          scrub: 0,
          // markers: true,
        },
        ease: 'none',
        filter: 'blur(0px)',
        scale: 1,
      });
    }
  });
  /* ---------------------------------- 案例卡片 ---------------------------------- */
</script>

<style>
  .section-card + .section-card {
    transform: scale(0.8);
    transform-origin: left;
    filter: blur(10px);
  }
</style>
