---
import Layout from '@/layouts/Layout.astro';
import Banner from '@/components/Banner.astro';
import ContactFooter from '@/components/ContactFooter.astro';
import img03 from '/src/assets/imgs/03.jpg';

import solution01 from '/src/assets/imgs/solution-case/01.png';
import solution02 from '/src/assets/imgs/solution-case/02.jpg';
import solution03 from '/src/assets/imgs/solution-case/03.png';
import solution04 from '/src/assets/imgs/solution-case/04.jpg';

// 理由
const reasonList = [
  {
    title: '创造经济收益',
    desc: ['降低能源成本', '固定资产价值', '提升边际收益'],
  },
  {
    title: '提升企业形象',
    desc: [
      '减少企业碳排放',
      '增强企业声誉',
      '展现环境保护/可持续发展的积极态度',
    ],
  },
  {
    title: '助力节能减排',
    desc: ['解决企业限电问题', '降低环境监管风险', '满足环保法规要求'],
  },
];

// 案例图片 后续可能改为后台获取
const caseList = [
  {
    imgUrl: solution01.src,
    title: '上海奉贤',
    desc: '459.96KWp',
  },
  {
    imgUrl: solution02.src,
    title: '上海奉贤',
    desc: '225.75KWp',
  },
  {
    imgUrl: solution03.src,
    title: '江苏泰州 ',
    desc: '1198.665KWp',
  },
  {
    imgUrl: solution04.src,
    title: '浙江嘉兴',
    desc: '688.545KWp',
  },
];
---

<Layout title="辐特佳新能源">
  <Banner title="工商业解决方案" imgSrc="/img_6.jpg" />
  <section
    class="bg-[url(/src/assets/imgs/02.jpg)] bg-no-repeat bg-center bg-cover w-full h-screen pt-[100px] <md:h-auto pb-[35px] relative"
  >
    <div class="m-auto translate-y-50% <md:translate-y-0">
      <h1 class="text-center text-white text-size-2xl fade-trigger">
        工商业安装光伏的三个理由
      </h1>
      <div
        class="max-w-7xl m-auto flex items-center gap-8 text-white px-8 fade-trigger <md:flex-col pt-[25px]"
        data-hook="60%"
      >
        {
          reasonList.map((item, index) => (
            <div class="border border-white p-5 rounded-lg w-1/3 bg-[rgba(255,255,255,0.2)] backdrop-blur-lg <md:w-80%">
              <h3 class="text-size-xl mb-4">0{index + 1}</h3>
              <h4 class="text-size-xl mb-4">{item.title}</h4>
              <ul>
                {item.desc.map((dec) => (
                  <li class="flex items-center py-4">
                    <i class="i-carbon:checkmark text-[var(--main-color)] mr-2" />
                    {dec}
                  </li>
                ))}
              </ul>
            </div>
          ))
        }
      </div>
    </div>
  </section>
  <section class="pt-[100px] pb-20">
    <h1
      class="font-serif text-center text-size-4xl text-center fade-trigger mb-10"
    >
      商业模式
    </h1>
    <div
      class="w-100% flex justify-center items-center gap-24 mt-10 fade-trigger <md:flex-col"
      data-hook="60%"
    >
      <div class="w-30% border border-gray p-5 rounded-lg <md:w-80%">
        <strong class="text-center text-size-xl flex items-center">
          <i
            class="i-carbon:ibm-cloud-direct-link-2-dedicated color-[var(--main-color)] mr-2"
          ></i>
           EPC模式：</strong
        >
        <p class="py-4">
          辐特佳受业主委托，对光伏项目的前期可行性研究、设计、采购、施工、验收等实行全过程的总承包。
        </p>
        <p class="py-4">
          业主自投 电站资产归属业主 投资回报率高 降低企业能耗 25年以上长期收益。
        </p>
      </div>
      <div class="w-30% border border-gray p-5 rounded-lg <md:w-80%">
        <strong class="text-center text-size-xl flex items-center">
          <i
            class="i-carbon:ibm-cloud-direct-link-2-dedicated color-[var(--main-color)] mr-2"
          ></i>
           EMC模式：
        </strong>
        <p class="py-4">
          合同能源管理模式。由辐特佳负责光伏电站的建设及运维，以优惠电价的方式分享收益给业主。
        </p>
        <p class="py-4">
          无需出资，由持有方投资 享受电价折扣 由持有方进行电站运维
          可享长期收益。
        </p>
      </div>
    </div>
  </section>
  <!-- 案例图片 -->
  <section class="w-100% pb-50 section-card-view">
    <h1
      class="font-serif text-center text-size-4xl text-center fade-trigger mb-10"
    >
      相关案例
    </h1>
    <div class="h-[280vw] sticky-wrapper fade-trigger" data-hook="60%">
      <div
        class="sticky w-100% h-auto top-150px overflow-hidden pt-60px box-border"
      >
        <div class="relative flex w-30vw m-[0_auto] gap-12 section-wrapper">
          {
            caseList.map((item) => (
              <div class="relative flex-shrink-0 w-100% h-300px flex justify-center items-center <md:w-80%  section-card">
                <div
                  class="bg-no-repeat bg-cover w-100% h-100%"
                  style={{ backgroundImage: `url(${item.imgUrl})` }}
                />
                <div class="w-100% flex justify-between absolute bottom-0 text-white section-card-title">
                  <h3 class="text-size-xl p-2">{item.title}</h3>
                  <h1 class="text-size-2xl p-2">{item.desc}</h1>
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </section>
  <ContactFooter />
</Layout>

<script>
  import gsap from 'gsap';
  import { ScrollTrigger } from 'gsap/ScrollTrigger';
  import createLenis from '@/hooks/createLenis';

  createLenis();
  gsap.registerPlugin(ScrollTrigger);
  const sections = document.querySelectorAll('.section-card-view');

  sections.forEach((section) => {
    const wrapper = section.querySelector('.section-wrapper');
    const stickyWrapper = section.querySelector('.sticky-wrapper');
    const cards = section.querySelectorAll('.section-card');

    const screenWidth = document.documentElement.clientWidth;
    const cardWidth = cards[0].clientWidth;
    const cardMargin = Number(
      window.getComputedStyle(wrapper).getPropertyValue('gap').slice(0, -2)
    );
    const cardsNumber = cards.length;
    const swiperOffset =
      // 距离页面左侧的宽度 * 2
      wrapper.getBoundingClientRect().left * 2 +
      // 每个卡片宽度 * 卡片数量
      cardWidth * cardsNumber +
      // 卡片的左侧距离 * (卡片数量 - 1)
      cardMargin * (cardsNumber - 1) -
      // 屏幕的宽度
      screenWidth;
    const stickyTop = 150;

    gsap.to(wrapper, {
      scrollTrigger: {
        trigger: stickyWrapper,
        start: stickyTop + ' ' + stickyTop,
        end: 'bottom 100%',
        scrub: 0,
      },
      ease: 'none',
      x: -swiperOffset,
    });

    const cardScroll = cardWidth + cardMargin;

    cards.forEach((card, index) => {
      const startTrigger = stickyTop - cardScroll * (index - 1);
      if (index > 0) {
        gsap.to(card, {
          scrollTrigger: {
            trigger: card,
            start: 'top ' + startTrigger,
            end: 'top ' + cardScroll / 4,
            scrub: 0,
            // markers: true,
          },
          ease: 'none',
          filter: 'blur(0px)',
          scale: 1,
        });
      }
    });
  });
</script>

<style>
  .section-card + .section-card {
    transform: scale(0.8);
    transform-origin: left;
    filter: blur(10px);
  }
</style>
