---
import Layout from '@/layouts/Layout.astro';
import Banner from '@/components/Banner.astro';
import ContactFooter from '@/components/ContactFooter.astro';
import clsx from 'clsx';
import img03 from '/src/assets/imgs/03.jpg';

import solution01 from '/src/assets/imgs/solution-case/01.png';
import solution02 from '/src/assets/imgs/solution-case/02.jpg';
import solution03 from '/src/assets/imgs/solution-case/03.png';
import solution04 from '/src/assets/imgs/solution-case/04.jpg';

console.log(
  '%c [ solution01 ]',
  'font-size:13px; background:pink; color:#bf2c9f;',
  solution01
);

// 理由
const reasonList = [
  {
    title: '创造经济收益',
    desc: ['降低能源成本', '固定资产价值', '提升边际收益'],
  },
  {
    title: '提升企业形象',
    desc: [
      '减少企业碳排放',
      '增强企业声誉',
      '展现环境保护/可持续发展的积极态度',
    ],
  },
  {
    title: '助力节能减排',
    desc: ['解决企业限电问题', '降低环境监管风险', '满足环保法规要求'],
  },
];

// 案例图片 后续可能改为后台获取
const caseList = [
  {
    imgUrl: solution01.src,
    desc: '上海奉贤 459.96KWp',
  },
  {
    imgUrl: solution02.src,
    desc: '上海奉贤 225.75KWp',
  },
  {
    imgUrl: solution03.src,
    desc: '江苏泰州 1198.665KWp',
  },
  {
    imgUrl: solution04.src,
    desc: '浙江嘉兴 688.545KWp',
  },
];
---

<Layout title="辐特佳新能源">
  <Banner title="工商业解决方案" imgSrc="/img_6.jpg" />
  <section
    class="bg-[url(/src/assets/imgs/02.jpg)] bg-no-repeat bg-center bg-cover w-full h-screen pt-[100px] <md:h-auto py-[35px] relative"
  >
    <div class="m-auto translate-y-50% <md:translate-y-0">
      <h1 class="text-center text-white text-size-2xl slide-in-up">
        工商业安装光伏的三个理由
      </h1>
      <div
        class="max-w-7xl m-auto flex items-center gap-8 text-white px-px-8 <md:flex-col pt-[25px]"
      >
        {
          reasonList.map((item, index) => (
            <div class="border border-white p-5 rounded-lg w-1/3 bg-[rgba(255,255,255,0.2)] after:(content-[''] absolute left-0 top-0 eight-0 bottom-0 bg-[url(/src/assets/imgs/02.jpg)] bg-no-repeat bg-top bg-cover blur-[10px] z-[-1]) <md:w-80%">
              <h3 class="text-size-xl mb-4">0{index + 1}</h3>
              <h4 class="text-size-xl mb-4">{item.title}</h4>
              <ul>
                {item.desc.map((dec) => (
                  <li class="flex items-center py-4">
                    <i class="i-carbon:checkmark text-[var(--main-color)] mr-2" />
                    {dec}
                  </li>
                ))}
              </ul>
            </div>
          ))
        }
      </div>
    </div>
  </section>
  <section class="flex py-30 w-70% flex-shrink-1">
    <img src={img03.src} class="w-60% max-h-445px" alt="" />
    <div class="w-60% h-100% ml-5 pt-5">
      <h1 class="text-size-2xl font-700">商业模式</h1>
      <p class="py-4 <md:(text-nowrap text-ellipsis overflow-hidden)">
        <strong> EPC模式：</strong>
         辐特佳受业主委托，对光伏项目的前期可行性研究、设计、采购、施工、验收等实行全过程的总承包。<br
        />
         业主自投 电站资产归属业主 投资回报率高 降低企业能耗 25年以上长期收益。
      </p>
      <p class="py-4 <md:(text-nowrap text-ellipsis overflow-hidden)">
        <strong> EMC模式：</strong>
         即合同能源管理模式。由辐特佳负责光伏电站的建设及运维，以优惠电价的方式分享收益给业主。<br
        />
         无需出资，由持有方投资 享受电价折扣 由持有方进行电站运维 可享长期收益。
      </p>
    </div>
  </section>
  <!-- 案例图片 -->
  <section class="w-100% pb-50">
    <h1 class="text-center text-size-2xl slide-in-up mb-10">相关案例</h1>
    <ul class="flex items-center justify-center gap-5 <md:flex-col">
      {
        caseList.map((item) => (
          <li
            class={clsx(
              `bg-no-repeat bg-center bg-cover w-25% h-300px flex justify-center items-center <md:w-80%`
            )}
            style={{ backgroundImage: `url(${item.imgUrl})` }}
          >
            <h3 class="text-size-2xl text-white p-2 bg-[rgba(0,0,0,0.2)]">
              {item.desc}
            </h3>
          </li>
        ))
      }
    </ul>
  </section>
  <ContactFooter />
</Layout>

<script>
  import Ino from '@/utils/Ino';
  const slideTitle = document.querySelectorAll('.slide-in-up');
  slideTitle.forEach((titleElement: HTMLElement) => {
    Ino(titleElement, {
      onShow: (el) => {
        el.classList.add('am-slide');
      },
      onHide: (el) => {
        el.classList.remove('am-slide');
      },
    });
  });
</script>

<style is:global>
  .intro {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
    background-color: #f4f2f2bf;
    .title {
      font-size: 24px;
      font-weight: 400;
      position: relative;
      display: inline-block;
      padding-bottom: 10px;
    }
    .title::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 50%;
      border-bottom: 10px solid #006400;
      transform: translateX(50%);
    }
    .intro_content {
      height: 70%;
      line-height: 35px;
      display: flex;
      align-items: center;
      margin-top: 40px;
      border-radius: 20px;
      padding: 25px;
    }
  }
  .cases {
    margin-top: 30px;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 45vh;
      .item_name {
        width: 40%;
        font-size: 20px;
        font-weight: 400;
      }
      .item_desc {
        flex: 1;
        color: white;
        position: relative;
        padding: 30px;
        background-size: cover;
        background-position: center;
        .item_desc_content {
          z-index: 1;
        }
      }
    }
    .item_content {
      height: 40vh;
      width: 70vw;
      overflow: hidden;
      .item_name {
        height: 100%;
      }
    }
  }
  .item_desc::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.4;
  }
  .item_1 {
    .item_desc {
      background-image: url('/img_4.jpg');
    }
  }
  .item_2 {
    .item_desc {
      background-image: url('/img_11.jpg');
    }
  }
  .item_3 {
    .item_desc {
      background-image: url('/img_2.jpg');
    }
  }
  .item_4 {
    .item_desc {
      background-image: url('/img_9.jpg');
    }
  }
  .contact {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    .text {
      height: 100px;
      width: 200px;
      display: flex;
      font-size: 20px;
      font-weight: 400;
      color: white;
      justify-content: center;
      align-items: center;
      background-color: #006400;
    }
    .text:hover {
      color: #006400;
      background-color: rgba(200, 200, 200, 0.5);
    }
  }
</style>
